@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-bg {
        background: linear-gradient(
            180deg,
            rgb(249, 78, 48) 0%,
            rgb(255, 100, 51) 100%
        );
    }
}
@layer utilities {
    .icon-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .fly-item {
        position: absolute;
        width: 20px;
        height: 20px;
        font-size: 14px;
        padding: 3px;
        border-radius: 50%;
        @apply bg-whitesmoke;
        @apply text-black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 0;
        z-index: 99;
        text-align: center;
        box-shadow: 0 0 30px 0 rgba(156, 156, 156, 0.25);
        color: #fff;
        @apply bg-orange;
        display: none;
    }
    .back-to-top.show {
        display: block;
    }
    .product-meta {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        bottom: 40%;
        font-size: 20px;
        gap: 10px;
        transition: all 300ms linear;
    }
    .product-meta .product-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #ededed;
        transition: all 300ms linear;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
    .product-meta:hover .product-icon {
        background-color: #3d3d3d;
        color: #fff;
    }
    .product-meta:hover .product-icon:hover {
        background-color: #f2a100;
        border-color: #f2a100;
    }
    .product-meta .product-icon:last-child {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .product-meta:hover .product-icon:not(:last-child) {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .product-meta .product-icon:nth-child(1) {
        -webkit-transition-delay: 500ms;
        -o-transition-delay: 500ms;
        transition-delay: 500ms;
    }
    .product-meta .product-icon:nth-child(2) {
        -webkit-transition-delay: 300ms;
        -o-transition-delay: 300ms;
        transition-delay: 300ms;
    }
}
